#vuelos-container h1 {
  margin-top: 80px;
  font-size: 7vw;
  color: darkblue;
}

.vuelos-table {
  width: 100%; 
  border-collapse: collapse;
  margin-bottom: 20px;
}

.vuelos-table th, .vuelos-table td {
  border: 1px solid #ddd;
  padding: 10px;
  text-align: left;
  color: #333;
}

.vuelos-table th {
  color: #333;
  font-weight: bold;
}

#vuelos-container button {
  padding: 5px 10px;
  margin: 0 5px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

#vuelos-container button:hover {
  opacity: 0.9;
}

#vuelos-container button:nth-child(1) {
  background-color: #007BFF;
  color: white;
}

#vuelos-container button:nth-child(2) {
  background-color: #f44336;
  color: white;
}

.add-vuelo {
  margin-top: 20px;
  padding: 15px;
  border: 1px solid #ddd;
  border-radius: 8px;
  background-color: #333;
}

.add-vuelo h2 {
  margin-bottom: 15px;
  color: #f4f4f4;
}

.add-vuelo input {
  width: calc(100% - 22px);
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
  background-color: #333;
  color: #f4f4f4;
}

.add-vuelo button {
  background-color: #4CAF50;
  color: white;
  font-size: 3vw;
}