/* Footer general */
.footer {
  background-color: #000225;
  color: #6d74ff; 
  text-align: right;
  padding: 20px;
  margin-top: 5px;
  bottom: 0;
  right: 0;
  left: 0;
}

.footer h2 {
  text-align: left;
  font-size: 5vw; 
}

.footer p {
  font-size: 2vw;
  margin: 5px 0; 
}

.footer .social-media {
  margin-top: 10px;
}

.footer .social-media a {
  color: #6d74ff; 
  margin: 0 15px;
  text-decoration: none;
  font-size: 2vw; 
  transition: color 0.3s ease; 
}

.footer .social-media a:hover {
  color: #0011ff; 
}

.footer .social-media i {
  margin-right: 8px; 
  font-size: 2vw;
}
