.sucursal-container {
  margin-top: 70px;
  padding: 20px;
  text-align: center;
  color: #333;
}

.sucursal-container h1 {
  color: darkblue;
}

.sucursal-card {
  display: inline-block;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 8px;
  background-color: #f9f9f9;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  max-width: 400px;
  text-align: left;
}

.sucursal-card h2 {
  color: darkblue;
  font-size: 3rem;
  margin-bottom: 10px;
}

.sucursal-card p {
  font-size: 25px;
  margin: 5px 0;
}

.sucursal-card strong {
  color: darkblue;
}