.vender-container {
  max-width: 800px;
  margin: 80px auto;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  justify-content: left;
  justify-items: left;
  align-items: left;
  text-align: left;
}

.vender-container h1 {
  font-size: 6vw;
  color: darkblue;
}

.vender-container form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

#diasExtra {
  display: inline;
  margin: 5px;
}

.vender-container label {
  font-weight: bold;
  margin-bottom: 5px;
}

.vender-container select, input, button {
  font-size: 16px;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ced4da;
  background-color: #ced4da;
  color: #333;
  outline: none;
  margin: 5px;
}

.vender-container select:focus, input:focus {
  border-color: #007bff;
  box-shadow: 0 0 3px rgba(0, 123, 255, 0.5);
}

.vender-container button {
  background-color: #007bff;
  margin: 6px;
  border-radius: 9px;
  font-size: 2vw;
  cursor: pointer;
  border: none;
  transition: background-color 0.3s ease;
}

.vender-container button:hover {
  background-color: #0056b3;
}
